.header {
    /* font-family: "fantasy", copperplate; */
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: rgba(113, 196, 187, 0.3);
}

.testContainer .card {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* delete below if this doesn't make them more resposive */
    float: left;
    width: 25%;
    /* padding: 0 10px; */
}

.testContainer {
    /* display: flex;
    flex-direction: row-reverse; */
     /* delete below if this doesn't make them more resposive */
    margin: 0 -5px;
    content: "";
    display: table;
    clear: both;

}

/* responsive columns...delete if it doens't make the responsive */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.testContainer .card .card-body .card-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    margin-top: -30px;
}

.testContainer .card .testName {
    margin-top: 20px;
    margin-bottom: -20px;
    font-family: "fantasy", copperplate;
    font-size: 25px;
    font-weight: 500;
}

.home {
    color: black;
}

/* .testContainer .card .stars {

} */

/* .testContainer .card .card-body .card-text {
    flex: right;
} */